/* DEFAULT SETTING */
.navbar-bg,
body {
    background-color: #b0b0b0;
}

.card {
    border-radius: 25px;
}

.card-body h4 {
    text-transform: capitalize;
}

.dataTables_wrapper .dataTables_filter {
    /* text-align: center !important; */
}

table td {
    font-size: 14px;
    text-transform: capitalize;
}

.form-control {
    border-radius: 25px;
}


.selectric {
    border-radius: 25px;
}

.selectric-items li,
.selectric .label {
    text-transform: capitalize;
}

@media (min-width: 1024px) {
    .main-wrapper-1 .section .section-header {
        margin-right: 0;
    }

    body.layout-3 .main-content {
        padding-top: 80px;
    }
}

.module-icon {
    font-size: 50px;
}

a:hover {
    text-decoration: none;
}

.invalid {
    color: #f00;
    font-size: 12px;
    border-color: #f00;
}

/* END OF DEFAULT SETTING */


#image-preview {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    background-image: url('../img/avatar/avatar-1.png');
    background-position: center;
    background-size: cover;
    color: #ecf0f1;
}

#image-preview input {
    position: absolute;
    opacity: 0;
    z-index: 10;
}

.outlet-type-panel {
    background-color: rgb(39, 39, 39);
    border-radius: 25px;
}

.flaticon-shop {
    font-size: 50px;
}

.imagecheck-figure {
    border-color: transparent;
}

.imagecheck-input:checked~.imagecheck-figure {
    border-color: transparent;
}
