/* DEFAULT SETTING */
.navbar-bg,
body {
    background-color: #b0b0b0;
}

.card {
    border-radius: 25px;
}

.card-body h4 {
    text-transform: capitalize;
}

table td {
    font-size: 14px;
    text-transform: capitalize;
}

.form-control {
    border-radius: 25px;
}


.selectric {
    border-radius: 25px;
}

.selectric-items li,
.selectric .label {
    text-transform: capitalize;
}

.select2 {
    width: 100% !important;
    border-radius: 25px !important;
}

@media (min-width: 1024px) {


    body.layout-3 .main-content {
        padding-top: 80px;
    }
}

.module-icon {
    font-size: 50px;
}

a:hover {
    text-decoration: none;
}

.invalid {
    color: #f00;
    border-color: #f00;
}

em {
    font-size: 12px;
}

.tab-content {
    max-height: 500px !important;
    overflow-y: scroll !important;
}

.sidebar-menu .nav-link {
    text-transform: capitalize;
}

.circular {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.circular img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card-inside {
    box-shadow: none;
}

@media (min-width: 1024px) {
    .outlet-card {
        width: 300px !important;
    }
}

.input-group>.input-group-append>.input-group-text {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* END OF DEFAULT SETTING */


#image-preview {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    background-image: url(../storage/images/customer_images/thumbnails/default.png);
    background-position: center;
    background-size: cover;
    color: #ecf0f1;
}

#image-preview input {
    position: absolute;
    opacity: 0;
    z-index: 10;
}

.outlet-type-panel {
    background-color: rgb(39, 39, 39);
    border-radius: 25px;
}

.flaticon-shop {
    font-size: 50px;
}

.imagecheck-figure {
    border-color: transparent;
}

.imagecheck-input:checked~.imagecheck-figure {
    border-color: transparent;
}
